[submodule "external/toml11"]
	path = external/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "external/CLI11"]
	path = external/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "external/expected-lite"]
	path = external/expected-lite
	url = https://github.com/martinmoene/expected-lite.git
